<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>{{ site.title }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <p>Created by Gorillus © 2015.</p>
          <p><a href="https://twitter.com/gorillus"><i class="fa fa-twitter"></i> @gorillus</a></p>
          <p><a href="mailto:hello@gorillus.com"><i class="fa fa-envelope"></i> hello@gorillus.com</a></p>
      </div>
      <div class="col-md-6">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
